  <div class="container">
  <div class="header clearfix">
      <nav>
       <ul class="nav nav-pills pull-right">
           <li role="presentation" class ="active"><a href="will.html">Are you a restaurant? Add your info here!</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
       <h3 class="text-muted">Welcome to QuickEats!</h3>
       </nav>
    </div>


<div class="jumbotron">
        <h1>Your quick guide to local eats</h1>
        <p class="lead">Pick a category below and quit thinking so hard!</p>
</div>

 <div class="row marketing" >
 <div class="col-lg-8">
    <h4>How hungry are you?</h4>
       
    <button id="submit" type="button" class="btn btn-blue ss_btn" ng-click="myFunc()">SUBMIT</button>
  <h1> {{blake.name}}</h1>
    <div ng-show="showMe">

              
  
    </div>

